{% extends 'partials/base.html.twig' %}
{% block content %}
<div class="posts">

<section class="post">
  <header class="post-header center">
    <h1 class="post-title">{% if page.parent.title != "Pages" %}<strong>{{ page.parent.title }}</strong></h1><h2>{{ page.header.title }}</h2>{%else%} <h1 class="post-title">{{ page.header.title }}</h1>{% endif %}
 </header>
        {% if big_header %}
            {{ page.media.images|first.cropResize(1038,437).html(page.title, page.title, 'image featured') }}
        {% else %}
            {{ page.media.images|first.cropZoom(1038,437).html(page.title, page.title, 'image featured') }}
        {% endif %}
   {{ page.content}}
</section>
</div>
{% endblock %}
